main
    section.top-slide
        .top-container
            div: h2 Buy less, shoes well
                br 
                span 
                    |Be fashioned.
            div: p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio.
            div: p Lorem ipsum dolor sit amet consectetur.


