main
    section.top-slide
        .top-container
            div: h2 Buy less, shoes well
            div: h2 Be fashioned.
            div: p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio.
            div: p Lorem ipsum dolor sit amet consectetur.

